@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.MobileHeader {
  position: relative;
  margin-bottom: 10px;
}

.MobileHeader .heading-title {
  margin: 0;
  font-family: 'Great Vibes', cursive;
}

.MobileHeader .clickable {
  cursor: pointer;
}

.MobileHeader .heading-text {
  font-size: 18px;
  width: 100%;
  color: #24A4B1;
  margin-bottom: 5px;
}

.MobileHeader .heading-hr {
  width: 95%;
  margin: auto;
}