.MobileHome .home-image {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #24A4B1;
  margin-bottom: 20px;
}

.MobileHome .enrollment-text {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  color: #00A45D;
}

.MobileHome button {
  background-color: #24A4B1;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.MobileHome button {
  margin-left: 10px;
}

.MobileHome a {
  text-decoration: none;
}

.MobileHome button:hover {
  box-shadow: 1px 2px 2px 2px #646464;
}


.MobileHome .care-type-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.MobileHome .contact-samantha-btn {
  display: block;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
}

.MobileHome .selectedActive {
  border-style: solid;
  border-width: 5px;
  border-color: #646464;
}

.MobileHome .availibility-prices {
  margin-top: 10px;
  margin-bottom: 10px !important;
  border-radius: 0;
  border-color: #646464;
  border-width: 1.5px !important;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  margin: auto;
}

.MobileHome .time-cost-border {
  border: 1px #24A4B1 solid;
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
}

.MobileHome .time-cost-border:first-of-type {
  margin-top: 15px;
}
