@import url('https://fonts.googleapis.com/css?family=Philosopher');

*, p, hr {
  font-family: 'Philosopher', sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #F6F5F1;

}

.App {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #F6F5F1;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #646464;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #646464;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #646464;

  max-width: 960px;
}

